.navbar{
	
	border: 0.5px #8a8b8c !important;

}

.body{
	color: background-color: #425798 !important;;
}

.landing-content {
	background: url(../images/bluemaple-new.png);
	background-size: cover;
	height: 100vh;
	color: white;
}

.landing-content button {
    margin-top: 30px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 25px;
    border: 0px solid #556301;
    border-radius: 10px;
    background: #425798;
    background: linear-gradient(to bottom, #32447b, #32447b);
    text-shadow: #425798 1px 1px 1px;
    font: normal normal normal 20px;
    color: #ffffff;
    text-decoration: none;
    box-shadow: 0px 0px 8px gray;

}
.landing-content button:hover,
.landing-content button:focus {
    border: 0px solid #bdbfc4;
    background: #cacdd5;
    background: linear-gradient(to bottom, #cacdd5, #cacdd5);
    color: #ffffff;
    text-decoration: none;
    outline: 0;
}
.landing-content button:active {
    background: #cacdd5;
    background: linear-gradient(to bottom, #cacdd5, #cacdd5);
}

#landing-content-link a{
	height: 25px;
	width: 100px;
}


h1{
	color: #425798;
}

h2{
	color: #425798;
}

.brand-logo {
	width: 40px;
	vertical-align: middle;
	box-shadow: 8px #888888;

}

.brand-logo:hover{
	opacity: 0.5;

}

.brand-text {
	color: white;
	height: 900px;
	font-size: 500%;
	font-family: sans-serif;
	text-shadow: 0px 0px 8px #888888;
}

.about-text{
	font-size: 20px;
}

/*.social-media a:hover {
	opacity: 1;
}*/

.organs{

}

.check-words{
	font-size: 30px; 
}

.partner-logo {
	width: 25%;
}

h3{
	color: white;
}

.payment-text{
	color: #425798;
}

.organs{
	width: 50%;
	box-shadow: 0px 0px 8px #888888;
}

.navbar-brand{

	text-transform: uppercase;
	color: #425798 !important;
}

.brand-word{
	position: absolute;
}

.carousel{
	/*box-shadow: 1px 1px 8px #888888;*/
}

.card{
	box-shadow: 0px 0px 8px #888888;
}

.card-body{
	background-color: #425798 !important;
	opacity: 1.8 !important;

}

.card-title{
	color: white !important;
}

.card-text{
	color: white !important;
}

.btn{
	border: 0.5px !important;
	color:  white !important;
	border: 0.3px solid #425798 !important;
	width: 45%;
	box-shadow: 0px 0px 8px #888888;
	background-color: #425798;

}

.index-text{
	color: white;
}

/*.index-social{
	height: 50%;
}*/

label{
	color: white;
}

.form-message{
	height: 200px;
	width: 300px;
}

iframe{
	width: 348px;
	height: 380px;
}


.py-5{
	background-color: #344782 !important;

}


.payment-logo{

	width: 4%;
}

}

.carousel-inner{
	width: 100% auto;
    height: 700px !important;
}

.social-media a {
	color: #efefef !important;
	margin: 0 .5rem !important; 
	font-size: 1.5rem !important;
	opacity: .75 !important;
}

#partner-text{
	color: #425798 !important;
}




}


@media only screen and (min-width: 361px) and (max-width: 960px){



.indie-text{
	width: 90% !important;
	

}


.form-message{
	width: 90px !important;
	background-color: red;
	

}

.gmap{
	width: 100% !important;
}	


}



@media only screen and (max-width: 400px) 
{

.brand-text{
	height: 100px !important;
}

.form-message{
	width: 100% !important;
	background-color: red;

}

.gmap{
	width: 100% !important;
}	


}



@media only screen and (min-width: 401px) and (max-width: 960px){



    .landing-content {
        text-align: center;
        padding: 25px;
    }

    .landing-content h1 {
        font-size: 30px;
    }

    .landing-content h3 {
        font-size: 20px;
    }

    span {
        font-size: 30px;
    }

    .form-message{
    	width: 90%;
    }

    .container{

		height: 100px;
	}

	.brand-text{
	height: 70% !important;
}


}

/*responsive - mobile*/
@media only screen and (max-width: 400px){

    .landing-content {
        text-align: center;
        padding: 25px;
    }

    .landing-content h1 {
        margin-top: 30px;
        font-size: 35px;
    }

    .landing-content h3 {
        font-size: 15px;
    }

    span {
        font-size: 25px;
    }

     .form-message{
    	width: 90%;
    }

}




/*@media only screen and (max-width: 360px){*/

	/*navbar*/
/*	nav{
		position: fixed;
		top: initial;
		bottom: 0px;
		padding: 22.5px;
		background-color: rgba(56,56,56,0.95);
		opacity: 1;
		z-index: 100;
	}
*/


	/*.navbar-links {
		list-style-type: none;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: initial;
	}

	.navbar-links li{
		position: relative;
		bottom: 10px;
		margin: 0px 10px;
		height: 50px;
		width: 50px;
		background-color: rgba(211,211,211,0.5);
		border-radius: 50%;
	}

	.navbar-links a{
		margin: 0px 0px;
		padding: 0px 0px;
		color: white;
		font-size: 20px;
		text-decoration: none;
	}

	.responsive-icon {
		visibility: visible;
		font-size: 20px;
	}

	.responsive-hidden {
		visibility: hidden;
	}

	.fa-home {
		position: relative;
		top: 10px;
	}

	.fa-users {
		position: relative;
		top: 11px;
	}

	.fa-image {
		position: relative;
		top: 11px;
	}

	.fa-seedling {
		position: relative;
		top: 11px;
	}

	.fa-phone {
		position: relative;
		top: 11px;
	}

	/*contact*/
/*	.contact-page {
		height: 220vh;
	}

	.container-centered{
		flex-direction: column;
	}

	.contact-page h1{
		margin-top: 0px;
	}

	#contact-text-area {
		width: 340px;
	}

	#google-map {
		margin-top: 10px;
	}

	.contact-details {
		height: auto;
	}*/

	/*footer*/
/*	footer {
		opacity: 0;
	}

	footer p {
		margin: 0px;
	}

}*/